<table>
 <tr>
  <td class="academic">
   <td>AcademicX</td>
	<span class="suject">Share<%= academic.learn %>For<%= academic.teach %></span>    
	
    <span class="description"><%= academic.description %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(academic.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(academic.user) %>
  <td>
    <%= link_to "delete", academic, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => academic.content %>
  </td>
  <% end %>
</tr>