<% if @academic.nil? %>
 <h1>No Post Yet</h1>
<% else %> 
<%= form_for @academic do |f| %>
 <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
	<table>
	 <tr>
	  <td>Share</td>
	  <td><%= options = [["Select a subject", ""]] + Academic::SUBJECTS
  	       select ("academic", "teach", options) %>
	  </td>
	 </tr>
	 <tr>
	  <td>For</td>
	  <td><%= options = [["Select a subject", ""]] + Academic::SUBJECTS
  	       select ("academic", "learn", options) %>
	  </td>
	 </tr>
	 <tr>
	  <td>Details</td>
	  <td><%= f.text_area :description %></td>
	 </tr>
	</table>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
<% end %>
